{% extends "base.html" %}
{% block content %}

<h3>Edit Post</h3>

<form method="post">
  <label style="visibility: hidden;">
      <div>post id</div>
      <input type="text" name="post_id" value="{{post_id}}" disabled="True">
  </label>

  <label>
      <div>subject</div>
      <input type="text" name="subject" value="{{subject}}">
  </label>

  <label>
      <div><br>blog</div>
      <textarea name="content">{{content}}</textarea>
  </label>

  <div class="error">{{error}}</div>

  <a href="/blog/{{post_id}}">Cancel</a> - <input type="submit">
</form>

{% endblock %}
