{% extends "base.html" %}

{% block content %}
  {{post.render() | safe}}

  {% if user %}
    <br>
    <a href="/blog/like?post_id={{post.key().id()}}">Like</a>
    {% if liked %}👍{% endif %}
    <br>
    <a href="/blog/delete?post_id={{post.key().id()}}">Delete Post</a>
    <br>
    <a href="/blog/edit?post_id={{post.key().id()}}">Edit Post</a>
    <br>
    <a href="/blog/newcomment?post_id={{post.key().id()}}">Leave a Comment</a>
    <br>
    <div class="error">
      <br>
      {% if error %}{{error}}{% endif %}
    </div>
  {% endif %}

  <div class="comments">
    <h3>Comments</h3>
    {% for comment in comments %}
      {{ comment.render(user) | safe }}
      <br>
    {% endfor %}
  </div>

{% endblock %}
