{% extends "base.html" %}

{% block content %}
  {{post.render() | safe}}
  <!-- # Likes You Like This -->
  <!-- {% if num %}{{num}}{% endif %}
  <a href="/blog/like?post_id={{post_id}}">Like</a>
  {% if userLike %}👍{% endif %} -->

  <a href="/blog/delete?post_id={{post_id}}">Delete</a>

  <!-- <button onclick="onDelete()">Delete</button>
  <script>
  function onDelete() {
      var confirmation = confirm("Are you sure you want to delete this post?");
      if (confirmation == true) {
          window.location = "/blog/delete?post_id={{post_id}}";
      }
  }
  </script> -->
{% endblock %}
